.Synonyms {
  margin: 15px 0 0;
  padding: 0;
}

.Synonyms ul {
  padding-left: 0;
  margin-bottom: 35px;
}

.Synonyms li {
  display: inline-block;
  padding-right: 15px;
  font-size: 14px;
  line-height: 1;
}
